---
layout: default
---

<article
  class="lab"
  {% if page.course_id %}data-course-id="{{ page.course_id | escape }}"{% endif %}
  {% if page.lab_id %}data-lab-id="{{ page.lab_id | escape }}"{% endif %}
  {% if site.labcontrol_api_url %}data-tracking-api="{{ site.labcontrol_api_url | escape }}"{% endif %}
  data-tracking="{% if page.tracking == true %}true{% else %}false{% endif %}"
>

  {% include nav.html %}

  {% include lab-title.html %}

  {% include lab-intro.html %}

  {%- comment -%}
  Modal del zoom. Debe existir una sola vez por página.
  {%- endcomment -%}
  {% include image-zoom.html %}

  {%- comment -%}
  Capturamos el contenido Markdown del laboratorio y lo pasamos al include
  como un parámetro llamado "content".
  {%- endcomment -%}
  {% capture instrucciones_md %}
    {{ content }}
  {% endcapture %}

  {% include lab-section.html
    title="Instrucciones"
    content=instrucciones_md
    class="lab-instructions"
  %}

  {% include task-result.html %}
  {% include lab-footer.html %}

  {% include nav-footer.html %}
</article>

{% include image-zoom.html %}
{% include scripts-copybtn.html %}